{% extends "base.html" %}

{% block title %}Total Control - Início{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="display-4">Bem-vindo ao <strong>Total Control</strong></h1>
    <p class="lead">O sistema de PDV ideal para sua loja ou comércio</p>
    <p>Fale conosco: <a href="mailto:contato@totalcontrol.net.br">contato@totalcontrol.net.br</a></p>
    <p></p><a href="https://wa.me/5511985463550" target="_blank">
  <img src="/static/img/whatsapp-icon.png" alt="Fale pelo WhatsApp" />
</a></p>

    <a href="{{ url_for('funcionalidades') }}" class="btn btn-primary btn-lg mt-3">Conheça o sistema</a>
</div>

{% endblock %}
