{% extends "base.html" %}

{% block title %}Sobre - Total Control{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Sobre o Total Control</h2>
    <p class="lead text-center">
        O Total Control é um sistema de PDV criado para simplificar a gestão do seu negócio,
        oferecendo ferramentas para controle de estoque, vendas e análise de lucros.
    </p>
    <p class="text-center">
        Desenvolvido com foco em eficiência, segurança e facilidade de uso, nosso sistema ajuda empreendedores a aumentar a produtividade e o controle financeiro.
    </p>
    <p class="text-center">
        Nosso compromisso é oferecer suporte de qualidade e constantes atualizações para acompanhar as necessidades do mercado.
    </p>

    <hr class="my-5">

    <div class="text-center">
        <h3 class="mb-4 text-center">Sobre o Desenvolvedor</h3>
        <img src="{{ url_for('static', filename='img/domicio.jpg') }}" alt="Domicio Natividade" class="rounded-circle mb-3" width="150" height="150">
        <h4>Domicio Natividade Silva</h4>
        <p class="text-muted" style="max-width: 800px; margin: auto;">
            Desenvolvedor do Total Control, com experiência em tecnologia, automação comercial e foco em soluções simples e eficientes para o varejo.
        </p>
    </div>
</div>
{% endblock %}

