{% extends "base.html" %}

{% block title %}Sobre - Total Control{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Sobre o Total Control</h2>
    <p class="lead text-center">
        O Total Control é um sistema de PDV criado para simplificar a gestão do seu negócio,
        oferecendo ferramentas para controle de estoque, vendas e análise de lucros.
    </p>
    <p class="text-center">
        Desenvolvido com foco em eficiência, segurança e facilidade de uso, nosso sistema ajuda empreendedores a aumentar a produtividade e o controle financeiro.
    </p>
    <p class="text-center">
        Nosso compromisso é oferecer suporte de qualidade e constantes atualizações para acompanhar as necessidades do mercado.
    </p>
</div>
{% endblock %}
